/* color palette from <https://github.com/vuejs/theme> */
@import "tailwindcss";

@theme {
  --breakpoint-semimd: 56rem;
  --breakpoint-semilg: 72rem;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "MinecraftFont";
  src: url("/fonts/Monocraft.ttc");
  font-weight: normal;
  font-style: normal;
}
